/* import I */

body {
  background-color: #FAF7F2;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 10%;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 16px;

}
img {
  border-radius: 50%;
}

.main-nav ul {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  
}

a {
  color: #333333;
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
}
.header-container-section {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
} 

input {
  border: none;
  background: transparent;
  outline: none; 
  padding: 4px;
  flex-grow: 1; 
  font-size: 16px;
}

.search-form {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 24px; 
  padding: 2px 8px;
  background-color: #ffffff;
  max-width: 400px;
  width: 100%;
}

.search-form:focus-within {
  border-color:#9C9F52;
}

.search-form-btn {
  display: inline-flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.search-icon:hover{
  color: #333333;
}
.search-icon {
  width: 24px;
  height: 24px;
  color: #777777;
}



.header-buttons {
  display: flex;
  flex-shrink: 0;
  gap: 4px;
}

#log-in-btn {
  padding: 8px 30px;
  border: 1px solid #777777;
  border-radius: 9999px;
  color: #333333;
  background-color: #ECD0C2;
  font-size: 16px;
}

#sign-up-btn {
  padding: 8px 30px;
  border: 1px solid #9C9F52;
  border-radius: 9999px;
  color: #333333;
  background-color: #FFFFFF;
  font-size: 16px;
}